.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  color: #000;
}

.content {
  font-size: 14px;
  color: #333;
}

.error {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffbaba;
  color: #d8000c;
  border-radius: 5px;
  border: 1px solid #d8000c;
  text-align: center;
}
