.moviesList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.movieItem {
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.movieImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movieTitle {
  text-align: center;
  padding: 10px;
  font-size: 18px;
}
